<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name= "File" value= ".\App_Log\"/>
      <param name= "AppendToFile" value= "true"/>
      <param name= "StaticLogFileName" value= "false"/>
      <param name= "DatePattern" value= "yyyy-MM-dd&quot;.log&quot;"/>
      <param name= "RollingStyle" value= "Date"/>
      <layout type="log4net.Layout.PatternLayout">
      <!--%logger -->
      <param name="ConversionPattern" value="%d %-5p  - %m%n" />
      </layout>
      <!--%output level -->
      <threshold value="INFO" />
    </appender>


    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="INFO" />
        <foreColor value="Green" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%n%date{HH:mm:ss,fff} [%-5level] %m" />
      </layout>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%n%date{HH:mm:ss,fff} [%-5level] %m" />
      </layout>
    </appender>
    

    <!--
    public class LogShow : log4net.Appender.AppenderSkeleton
    {
        public static RichTextBox txtBox = null;
        override protected void Append(log4net.Core.LoggingEvent loggingEvent)
        {
            string msgType = loggingEvent.Level.ToString();
            string msg = loggingEvent.TimeStamp.ToString() + "    " + loggingEvent.MessageObject.ToString();

            Brush brush = Brushes.Green;
            if (msgType == "WARN") brush = Brushes.Yellow;
            else if (msgType == "ERROR" || msgType == "FATAL") brush = Brushes.Red;
            txtBox.Dispatcher.Invoke(() => {
                txtBox.Document.Blocks.Add(new Paragraph(new Run(msg) { Foreground = brush }));
                txtBox.ScrollToEnd();
            });
        }
    }


    <appender name="myAppender" type="命名空间名.LogShow"/> 
    
    root:
    <appender-ref ref="myAppender"/>
    -->

    
    <root>
      <!-- OFF > FATAL > ERROR > WARN > INFO > DEBUG > ALL -->
      <level value="ALL" />
      <appender-ref ref="ColoredConsoleAppender"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
</configuration>